@import '../GifUpload/GifUpload.css';

.write-article {
   margin: 3em 0;
   text-align: center;
}

.textarea{
    margin: auto;
    padding: 20px;
    font-size: 20px;
    width: 75%;
}

@media (max-width: 720px) {
    .textarea{
        width: 100%;
    }
}