.form-container {
    text-align: center;
    margin: 2.5em  auto;
    width: 50%;
}

form {
    margin: 3em 0;
}

.reg {
    color: #2cc7a5;
}

.form-container input {
    border: 2px solid #9af4d4;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 1em;
    height: 3em;
    font-size: 15px;
}

.form-container div {
    display: flex;
    justify-content: space-between;
}

.form-container div input {
    width: 45%;
}

a {
    text-decoration: none;
    color: #3a4946
}

.info {
    width: 100%;
    margin-bottom: 1em;
}

.btn-reg {
    color: #3a4946;
    background-color:  #9af4d4;
    border: 2px solid #2cc7a5;
    border-radius: 5px;
    padding: 10px;
    margin-top: 2em;
    height: 3em;
    width: 70%;
    font-size: 15px; 
}

@media (max-width: 720px){
    .form-container {
        width: 70%;
    }

    .form-container div {

        display: flex;
        flex-direction: column;
    }

    .form-container div input {
        width: 100%;
    }
}
